.previews .thumbnail {}
.previews .img-container {
	display: block;
	overflow: hidden;
}

.previews img {
	max-width: 100%;
	max-height: 100%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.img-container:hover img {
	zoom: 2;
	max-width: 120%;
	max-height: 120%;
}

.previews span {
	display: block;
}

#map {
	height: 400px;
	width: 100%;
}

footer {
	padding-bottom: 15px;
}

.carousel-inner .item {
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-position: top center;*/
	background-position: 50% 20%;
}

@media (min-width: 768px) {
	.previews .img-container {
		height: 170px;
	}
	.previews img {
		max-width: 100%;
	}
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}

